<a href="https://colab.research.google.com/github/jaimeload/HW_Terver/blob/main/hw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1
Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [83]:
import numpy as np
x = np.array([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150])
x_mean = x.sum() / x.size
x_mean

65.3

In [84]:
round((np.sum((x - x_mean)**2) / x.size)**0.5, 4)

30.8239

In [85]:
round(np.sum((x - x_mean)**2) / x.size, 4)

950.11

In [86]:
round(np.sum((x - x_mean)**2) / (x.size - 1), 4)

1000.1158

##2
В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

In [121]:
from math import factorial as fc
def combo(k, n):
    return fc(n) / (fc(k) * fc(n - k))

In [122]:
round(((combo(2, 5) * combo(1, 5)) / (combo(2, 8) * combo(4, 12))) + ((combo(1, 5) * combo(2, 5)) / (combo(2, 8) * combo(4, 12))) \
 + ((combo(0, 5) * combo(3, 5)) / (combo(2, 8) * combo(4, 12))), 4)

0.0079

##3
На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

In [88]:
sp_full = 1/3 * 0.9 + 1/3 * 0.8 + 1/3 * 0.6
round(sp_full, 4)

0.7667

In [89]:
sp1 = (1/3 * 0.9) / sp_full
round(sp1, 4)

0.3913

In [90]:
sp2 = (1/3 * 0.8) / sp_full
round(sp2, 4)

0.3478

In [91]:
sp3 = (1/3 * 0.6) / sp_full
round(sp3, 4)

0.2609

##4
В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

In [92]:
st_full = 1/4 * 0.8 + 1/4 * 0.7 + 1/2 * 0.9
round(st_full, 4)

0.825

In [93]:
st_A = (1/4 * 0.8) / st_full
round(st_A, 4)

0.2424

In [94]:
st_B = (1/4 * 0.7) / st_full
round(st_B, 4)

0.2121

In [ ]:
st_C = (1/2 * 0.9) / st_full
round(st_C, 4)

0.5455

##5
Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

In [95]:
round(0.1 * 0.2 * 0.25, 4)

0.005

In [96]:
round((1 - 0.1) * 0.2 * 0.25 + 0.1 * (1 - 0.2) * 0.25 + 0.1 * 0.2 * (1 - 0.25), 4)

0.08

In [97]:
round((1 - 0.1) * (1 - 0.2) * 0.25 + 0.1 * (1 - 0.2) * (1 - 0.25) + (1 - 0.1) * 0.2 * (1 - 0.25), 4)

0.375

In [98]:
0.08 + 0.375

0.455