<a href="https://colab.research.google.com/github/jaimeload/HW_Terver/blob/main/hw9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import numpy as np
from scipy import stats

##1
Даны значения величины заработной платы заемщиков банка (zp) и значения их
поведенческого кредитного скоринга (ks):

    zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],

    ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].

Используя математические
операции, посчитать коэффициенты линейной регрессии, приняв за X заработную плату
(то есть, zp - признак), а за y - значения скорингового балла (то есть, ks - целевая
переменная). Произвести расчет как с использованием intercept, так и без.

In [21]:
x = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
y = np.array( [401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [22]:
b = (np.mean(x * y) - (np.mean(x) * np.mean(y))) / (np.mean(x**2) - (np.mean(x)**2))
b

2.620538882402765

In [23]:
bi = np.mean(y) - (b * np.mean(x))
bi

444.1773573243596

##2
Посчитать коэффициент линейной регрессии при заработной плате (zp), используя
градиентный спуск (без intercept).

In [24]:
α = 0.000001
B1 = 0.1
n = len(x)

In [25]:
def mse_(B1, y = y, x = x, n = n):
    return np.sum((B1 * x - y)**2) / n

In [26]:
for i in range (3000):
    B1 -= α * (2 / n) * np.sum((B1 * x - y) * x)
    if i % 500 == 0:
        print('Iteration = {i}, B1 = {B1}, mse = {mse}'.format(i = i, B1 = B1, mse = mse_(B1)))

Iteration = 0, B1 = 0.25952808, mse = 493237.7212546963
Iteration = 500, B1 = 5.889815595583751, mse = 56516.858416040064
Iteration = 1000, B1 = 5.8898204201285544, mse = 56516.85841571941
Iteration = 1500, B1 = 5.889820420132673, mse = 56516.85841571943
Iteration = 2000, B1 = 5.889820420132673, mse = 56516.85841571943
Iteration = 2500, B1 = 5.889820420132673, mse = 56516.85841571943

In [27]:
mse_(5.8898)

56516.858421464